/* 
flexfarger:
Bright orange: #E38826
Dark cyan: #006970
Very dark cyan: #004241
Tekst:
Transparent white hsla(0, 0%, 100%, 0.75)
Bakgrunn, overskrift, knapper:
Very light gray: hsl(0, 0%, 95%)

Font size paragraf: 15px

- Family: [Lexend Deca](https://fonts.google.com/specimen/Lexend+Deca)
- Weights: 400

- Family: [Big Shoulders Display](https://fonts.google.com/specimen/Big+Shoulders?query=big+shoulders+display)
- Weights: 700

Bildestørrelsen kan evt skaleres ned til 29x46

*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
main {
  height: 100svh;
  width: 100svw;
  background-color: hsl(0, 0%, 95%);
  display: flex;
  align-items: center;
  justify-content: center;
}
section {
  height: 500px;
  width: 306px;
  display: flex;
  flex-direction: column;
  padding-left: 49px;
  padding-right: 45px;
  font-family: Lexend;
  font-size: 15px;
  font-weight: 400px;
}
h2 {
  margin-top: 35px;
  color: hsl(0, 0%, 95%);
  font-family: BigShoulders;
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 25px;
}

img {
  height: 40px;
  width: 64px;
  margin-top: 44px;
}
p {
  font-size: 15px;
  line-height: 24px;
  color: hsla(0, 0%, 100%, 0.75);
  margin-bottom: 50px;
}
button {
  margin-top: 30px;
  margin-bottom: 30px;
  color: hsl(0, 0%, 95%);
  height: 50px;
  width: 150px;
  border-radius: 30px;
  border-style: none;
  font-family: Lexend;
  font-size: 15px;
  font-weight: 400px;
}

article {
  display: flex;
  flex-direction: column;
}

#flex-container1 {
  background-color: #e38826;
  border-radius: 2% 0% 0% 2%;
}
#flex-container2 {
  background-color: #006970;
}

#flex-container3 {
  background-color: #004241;
  border-radius: 0% 2% 2% 0%;
}

#flex-container1 button {
  color: #e38826;
}
#flex-container2 button {
  color: #006970;
}
#flex-container3 button {
  color: #004241;
}

@font-face {
  font-family: BigShoulders;
  src: url(./fonts/static/BigShoulders-Light.ttf);
}
@font-face {
  font-family: Lexend;
  src: url(./fonts/Lexend_Deca/static/LexendDeca-Regular.ttf);
}
